:root {
    --header-primary-color: #502050;
    --header-secondary-color: #937b92;
    --rating-bg-color: #f7f2f7;
    --rating-text-color: #502050;
    --card-bg-color: #502050;
    --card-text-color: #f7f2f7;
    --card-description-job: #ee68a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom, right;
    font-family: "Spartan", sans-serif;
    font-size: 15px;
}

.container {
    width: 80%;
    margin: auto;
}

.container header {
    margin-top: 6em;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    width: 50%;
}

.header-text {
    width: 40%;
}

.ratings-col {
    width: 60%;
}

.ratings-col .rating {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-40%, 0);
    -webkit-transform: translate(-40%, 0);
    -moz-transform: translate(-40%, 0);
    -ms-transform: translate(-40%, 0);
    -o-transform: translate(-40%, 0);
}

h1 {
    color: var(--header-primary-color);
    font-size: 3.3em;
    letter-spacing: .02em;
}

.header-text p {
    color: var(--header-secondary-color);
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.3em;
    margin-top: 1em;
}

.rating {
    width: 70%;
    background: var(--rating-bg-color);
    color: var(--rating-text-color);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rating:first-of-type {
    margin-left: -100px;
}

.rating:nth-of-type(2) {
    margin-left: 0;
}

.rating:last-of-type {
    margin-left: 100px;
}

.rating .col:first-of-type {
    width: 30%;
    text-align: center;
}

.rating .col:last-of-type {
    width: 70%;
    text-align: center;
}

.container--body {
    margin-top: 4em;
}

.card {
    background: var(--card-bg-color);
    color: var(--card-text-color);
    margin-right: 2.7em;
    padding: 2em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container--body--profile:first-of-type {
    margin-top: -100px;
}

.container--body--profile:last-of-type {
    margin-top: 100px;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.col-4 {
    width: 17.3%;
}

.col-8 {
    width: 76.7%;
}

.col-8 h3 {
    font-size: 1em;
}

.col-8 p {
    font-size: .8em;
    color: var(--card-description-job);
}

.container--body__header {
    justify-content: space-between;
}

.review {
    margin-top: 1.4em;
}

.review p {
    line-height: 20px;
    font-size: .9em;
}

footer {
    text-align: center;
    letter-spacing: .1em;
}

footer a {
    text-decoration: none;
    margin-left: .4em;
}

.rating .row .col {
    width: auto;
    margin-right: 1em;
}


/*----Media queries----*/

@media only screen and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
    .row {
        flex-direction: column;
    }
    .col,
    .col-8 {
        width: 100%;
    }
    .col-8 {
        text-align: center;
    }
    .container--body--profile:first-of-type {
        margin-top: 0;
    }
    .container--body--profile:last-of-type {
        margin-top: 0;
    }
    .container--body--profile {
        margin-bottom: 2em;
    }
    .header-text {
        margin-bottom: 4em;
    }
    .card {
        margin-right: 0;
        width: 90%;
        margin: auto;
    }
    .rating {
        margin-left: 0 !important;
        width: 90%;
    }
    .rating .row .col {
        width: auto;
    }
    .ratings-col .rating {
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 14px;
    }
    .row {
        flex-direction: column;
    }
    .col,
    .col-8 {
        width: 100%;
    }
    .col-8 {
        text-align: center;
    }
    .container--body--profile:first-of-type {
        margin-top: 0;
    }
    .container--body--profile:last-of-type {
        margin-top: 0;
    }
    .container--body--profile {
        margin-bottom: 2em;
    }
    .header-text {
        margin-bottom: 4em;
    }
    .card {
        margin-right: 0;
        width: 80%;
        margin: auto;
    }
    .rating {
        margin-left: 0 !important;
        width: 90%;
    }
    .rating .row .col {
        width: auto;
    }
    .ratings-col .rating {
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 13px;
    }
    .row {
        flex-direction: column;
    }
    .col,
    .col-8 {
        width: 100%;
    }
    .col-8 {
        text-align: center;
    }
    .container--body--profile:first-of-type {
        margin-top: 0;
    }
    .container--body--profile:last-of-type {
        margin-top: 0;
    }
    .container--body--profile {
        margin-bottom: 2em;
    }
    .header-text {
        margin-bottom: 4em;
    }
    .card {
        margin-right: 0;
        width: 80%;
        margin: auto;
    }
    .rating {
        margin-left: 0 !important;
        width: 100%;
    }
    .rating .row .col {
        width: auto;
    }
    .ratings-col .rating {
        left: 0;
        transform: translate(0%, 0);
        -webkit-transform: translate(0%, 0);
        -moz-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
    }
}


/*------------------------*/